<html lang="en">
<head>
    <% include ../partials/head %>
    <title>About</title>
</head>
<body>

    <% include ../partials/header %>

<main>
<div class="container">
  <div class="row">
    <h2 class="center col l12 s12">About The Inline</h2>
  </div>
  <br><br>
    <h4>in-line</h4>
    <h5>/ˈɪnlʌɪn/</h5>
    <h5>Adjective: </h5>
    <div class="row">
      <ol>
         <li>Having parts arranged in a line.<br>"a 20-valve in-line 5-cylinder engine"</li>
         <li>Constituting an integral part of a continuous sequence of operations or machines.
           <br>"a two-stream in-line fuel-oil blender"
           <ul>
             <li>
             Constituting an integral part of a computer program.
             <br>"the parameters can be set up as in-line code"
           </li></ul>
         </li>
       </ol>
    </div>
  <div class="row">
    <h5 class="center-align col l12 s12">This is a blog made for any writing enthusiasts out there. The continuous scrolling is inspired by the Twitter feed,
      making all the posts available at a glance.
    </h5>
  </div>

</div>
</main>

    <% include ../partials/footer %>

</body>
</html>
