<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Write a Post</title>
</head>
<body>

    <% include ../partials/header %>
<main>
<div class="container">

  <form action="/write" method="POST">
    <div class="row">
        <div class="input-field col s12">
          <input name="title" type="text">
          <label for="title">Post Title</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input name="image" type="text">
            <label for="image">Cover Image Link</label>
          </div>
        </div>
    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <textarea name="content" class="materialize-textarea"></textarea>
            <label for="content">Write your thougths</label>
          </div>
        </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light btn-large col l2 s6" type="submit">Submit</button>
    </div>
  </form>
</div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
